@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 2em auto;
  max-width: 900px;
  min-width: 320px;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container {
  margin-bottom: 50px;
}

.horizon-line {
  margin: 1em auto;
}

h1, h3, h4 {
  letter-spacing: -0.01em;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.75rem;

}

.service-worker {
  margin-bottom: 4rem;
  font-weight: bold;
}

.title {
  font-size: 2rem;
  margin-top: 1.875rem;
  font-weight: 600;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.webgl, .image, video {
  display: block;
  margin: 1.5em 0;
  width: 100%;
  max-width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
