@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 2em auto;
  max-width: 900px;
  min-width: 320px;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.container {
  margin-bottom: 50px;
}

.horizon-line {
  margin: 1em auto;
}

h1, h3, h4 {
  letter-spacing: -0.01em;
  line-height: 1.2;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.75rem;

}

.service-worker {
  margin-bottom: 4rem;
  font-weight: bold;
}

.title {
  font-size: 2rem;
  margin-top: 1.875rem;
  font-weight: 600;
  margin-bottom: 0;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.webgl, .image, video {
  display: block;
  margin: 1.5em 0;
  width: 100%;
  max-width: 100%;
}

.click-zone {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: transparent;
  z-index: 1000;
}

.font-selector {
  position: fixed;
  top: 50px;
  left: 20px;
  padding: 1rem;
  z-index: 1000;
}

.toggle-btn {
  margin: 0.5rem 0;
  padding: 0.7rem 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
}

.font-controls {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
  background-color: gray;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.control-buttons button{
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin: 0 0.5rem;
}

.content p {
  font-size: inherit;
}

.font-indicator {
  font-size: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
